#include "resource.h"


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
#ifdef VMB
IDI_ICON                ICON                    "Icons\\mmixide.ico"
IDI_ICON_SMALL          ICON                    "Icons\\mmixide16.ico"
#else
IDI_ICON                ICON                    "Icons\\mmixvd.ico"
IDI_ICON_SMALL          ICON                    "Icons\\mmixvd16.ico"
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MENU MENUEX 
BEGIN
    POPUP "&File",                          65535,MFT_STRING,MFS_ENABLED
    BEGIN
        MENUITEM "&New",                        ID_FILE_NEW,MFT_STRING,MFS_ENABLED
        MENUITEM "&Open",                       ID_FILE_OPEN,MFT_STRING,MFS_ENABLED
        MENUITEM "&Close",                      ID_FILE_CLOSE,MFT_STRING,MFS_ENABLED
        MENUITEM MFT_SEPARATOR
        MENUITEM "&Save\tCtrl+S",               ID_FILE_SAVE,MFT_STRING,MFS_ENABLED
        MENUITEM "Save &As",                    ID_FILE_SAVEAS,MFT_STRING,MFS_ENABLED
        MENUITEM MFT_SEPARATOR
        MENUITEM "Pa&ge Setup ...",             ID_FILE_PAGESETUP,MFT_STRING,MFS_ENABLED
        MENUITEM "Print ...\tCtrl+P",           ID_FILE_PRINT,MFT_STRING,MFS_ENABLED
        MENUITEM MFT_SEPARATOR
        MENUITEM "&Exit",                       ID_FILE_EXIT,MFT_STRING,MFS_ENABLED
    END
    POPUP "&Edit",                          65535,MFT_STRING,MFS_ENABLED
    BEGIN
        MENUITEM "Undo\tCtrl+Z",                ID_EDIT_UNDO,MFT_STRING,MFS_ENABLED
        MENUITEM "Redo\tCtrl+Y",                ID_EDIT_REDO,MFT_STRING,MFS_ENABLED
        MENUITEM MFT_SEPARATOR
        MENUITEM "Cut\tCtrl+X",                 ID_EDIT_CUT,MFT_STRING,MFS_ENABLED
        MENUITEM "Copy\tCtrl+C",                ID_EDIT_COPY,MFT_STRING,MFS_ENABLED
        MENUITEM "Paste\tCtrl+V",               ID_EDIT_PASTE,MFT_STRING,MFS_ENABLED
        MENUITEM "Delete\tDel",                 ID_EDIT_DELETE,MFT_STRING,MFS_ENABLED
        MENUITEM MFT_SEPARATOR
        MENUITEM "Select &All\tCtrl+A",         ID_EDIT_SELECTALL,MFT_STRING,MFS_ENABLED
        MENUITEM MFT_SEPARATOR
        MENUITEM "&Find and Replace ...\tCtrl+F", ID_EDIT_FIND,MFT_STRING,MFS_ENABLED
        MENUITEM "Find A&gain\tCtrl+G",         ID_EDIT_FINDAGAIN,MFT_STRING,MFS_ENABLED
        MENUITEM "Replace Again\tCtrl+H",       ID_EDIT_REPLACE,MFT_STRING,MFS_ENABLED
        MENUITEM MFT_SEPARATOR
		MENUITEM "&Indent\tCtrl+I",               ID_EDIT_PRETTY,MFT_STRING,MFS_ENABLED				
		END
    POPUP "&View",                          65535,MFT_STRING,MFS_ENABLED
    BEGIN
        POPUP "&Registers",                     65535,MFT_STRING,MFS_ENABLED
        BEGIN
            MENUITEM "&Local",                      ID_REGISTERS_LOCAL,MFT_STRING,MFS_ENABLED
            MENUITEM "Local with &Stack",           ID_REGISTERS_STACK,MFT_STRING,MFS_ENABLED
            MENUITEM "&Global",                     ID_REGISTERS_GLOBAL,MFT_STRING,MFS_ENABLED
            MENUITEM "&Special",                    ID_REGISTERS_SPECIAL,MFT_STRING,MFS_ENABLED
        END
        POPUP "&Memory",                        65535,MFT_STRING,MFS_ENABLED
        BEGIN
            MENUITEM "&Text Segment",               ID_MEM_TEXTSEGMENT,MFT_STRING,MFS_ENABLED
            MENUITEM "Data Segment",                ID_MEM_DATASEGMENT,MFT_STRING,MFS_ENABLED
            MENUITEM "Pool Segment",                ID_MEM_POOLSEGMENT,MFT_STRING,MFS_ENABLED
            MENUITEM "Stack Segment",               ID_MEM_STACKSEGMENT,MFT_STRING,MFS_ENABLED
            MENUITEM "Negative Segment",            ID_MEM_NEGATIVESEGMENT,MFT_STRING,MFS_ENABLED
        END
        MENUITEM "&Symbol table",               ID_VIEW_SYMBOLTABLE,MFT_STRING,MFS_ENABLED
        MENUITEM "&Breakpoints",                ID_VIEW_BREAKPOINTS,MFT_STRING,MFS_ENABLED
        MENUITEM "&Trace",                      ID_VIEW_TRACE,MFT_STRING,MFS_ENABLED
        MENUITEM MFT_SEPARATOR
        MENUITEM "Zoom &In\tCtrl++",            ID_VIEW_ZOOMIN,MFT_STRING,MFS_ENABLED
        MENUITEM "Zoom &Out\tCtrl+-",           ID_VIEW_ZOOMOUT,MFT_STRING,MFS_ENABLED
        MENUITEM MFT_SEPARATOR
        MENUITEM "Syntax &Highlighting",        ID_VIEW_SYNTAX,MFT_STRING,MFS_ENABLED
        MENUITEM "Show &White Space",           ID_VIEW_WHITESPACE,MFT_STRING,MFS_ENABLED
        MENUITEM "Show &Line Numbers",          ID_VIEW_LINENUMBERS,MFT_STRING,MFS_ENABLED
        MENUITEM "Show &Profile",               ID_VIEW_PROFILE,MFT_STRING,MFS_ENABLED
    END
    POPUP "&MMIX",                          65535,MFT_STRING,MFS_ENABLED
    BEGIN
        MENUITEM "&Assemble\tF7",               ID_MMIX_ASSEMBLE,MFT_STRING,MFS_ENABLED
        MENUITEM MFT_SEPARATOR
        MENUITEM "&Debug\tF5",                  ID_MMIX_DEBUG,MFT_STRING,MFS_ENABLED
        MENUITEM "&Step Instruction",           ID_MMIX_STEP,MFT_STRING,MFS_ENABLED
        MENUITEM "Step &Over",                  ID_MMIX_STEPOVER,MFT_STRING,MFS_ENABLED
        MENUITEM "Step O&ut",                   ID_MMIX_STEPOUT,MFT_STRING,MFS_ENABLED
        MENUITEM "&Break Execution",            ID_MMIX_STOP,MFT_STRING,MFS_ENABLED
        MENUITEM "&Halt Execution",             ID_MMIX_QUIT,MFT_STRING,MFS_ENABLED
        MENUITEM MFT_SEPARATOR
        MENUITEM "&Run\tCtrl+F5",               ID_MMIX_RUN,MFT_STRING,MFS_ENABLED
        MENUITEM MFT_SEPARATOR
        MENUITEM "Set E&xecute Breakpoint",     ID_MMIX_BREAKX,MFT_STRING,MFS_ENABLED
        MENUITEM "Set &Tracepoint",             ID_MMIX_BREAKT,MFT_STRING,MFS_ENABLED
        MENUITEM "Set &Read Breakpoint",        ID_MMIX_BREAKR,MFT_STRING,MFS_ENABLED
        MENUITEM "Set &Write Breakpoint",       ID_MMIX_BREAKW,MFT_STRING,MFS_ENABLED
    END
    POPUP "&Options",                       65535,MFT_STRING,MFS_ENABLED
    BEGIN
        MENUITEM "&Editor ...",                 ID_OPTIONS_EDITOR,MFT_STRING,MFS_ENABLED
        MENUITEM "&Assembler ...",              ID_OPTIONS_ASSEMBLER,MFT_STRING,MFS_ENABLED
        MENUITEM "&Debug  ...",                 ID_OPTIONS_DEBUG,MFT_STRING,MFS_ENABLED
#ifdef VMB
        MENUITEM "&Motherboard ...",            ID_OPTIONS_VMB,MFT_STRING,MFS_ENABLED
#endif
        MENUITEM "&Run ...",                    ID_OPTIONS_RUN,MFT_STRING,MFS_ENABLED
        MENUITEM "Symbol &table  ...",          ID_OPTIONS_SYMTAB,MFT_STRING,MFS_ENABLED
        MENUITEM "&Sources ...",                ID_OPTIONS_SOURCES,MFT_STRING,MFS_ENABLED
        POPUP "En&coding",                      65535,MFT_STRING,MFS_ENABLED
        BEGIN
            MENUITEM "ASCII",                       ID_ENCODING_ASCII,MFT_STRING,MFS_ENABLED
            MENUITEM "UTF-8",                       ID_ENCODING_UTF,MFT_STRING,MFS_ENABLED
        END
    END
    POPUP "&Help",                          65535,MFT_STRING | MFT_RIGHTJUSTIFY,MFS_ENABLED
    BEGIN
        MENUITEM "&About",                      ID_HELP_ABOUT,MFT_STRING,MFS_ENABLED
        MENUITEM "&Content",                    ID_HELP_CONTENT,MFT_STRING,MFS_ENABLED
        MENUITEM "&Instructions",               ID_HELP_INSTRUCTIONS,MFT_STRING,MFS_ENABLED
        MENUITEM "Con&figuration",              ID_HELP_CONFIGURATION,MFT_STRING,MFS_ENABLED
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x3L
#else
 FILEFLAGS 0x2L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Martin Ruckert ruckert@cs.hm.edu"
#ifdef VMB
            VALUE "FileDescription", "Integrated Development Environment for MMIX"
            VALUE "InternalName", "mmixide"
			VALUE "OriginalFilename", "mmixide.exe"
            VALUE "ProductName", "MMIX IDE"
#else
            VALUE "FileDescription", "Visual Debugger for MMIX"
            VALUE "InternalName", "mmixvd"
            VALUE "OriginalFilename", "mmixvd.exe"
            VALUE "ProductName", "MMIX VD"
#endif
            VALUE "FileVersion", "1, 0, 0, 1"
            VALUE "LegalCopyright", "Copyright (C) 2013 by Martin Ruckert"
            VALUE "ProductVersion", "1, 0, 0, 1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//


IDD_OPTIONS_SOURCES DIALOGEX 0, 0, 332, 152
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Sources"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    PUSHBUTTON      "Add File ...",IDC_ADD,7,7,50,15
    DEFPUSHBUTTON   "OK",IDOK,275,7,50,15
    CONTROL         "Load single file",IDC_CHECK_SINGLEFILE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,70,10,115,10
    LTEXT           "Full name",IDC_TAB_FULLNAME,20,50,299,8
    CONTROL         "Assemble and read symbol table",IDC_CHECK_SYMBOLS,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,20,65,119,10
    CONTROL         "Load mmo file",IDC_CHECK_LOADMMO,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,20,80,59,10
#ifdef VMB	
    CONTROL         "Create image file",IDC_CHECK_IMAGEFILE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,20,95,70,10
#endif
    CONTROL         "Execute command",IDC_CHECK_EXECUTE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,20,110,74,10
    EDITTEXT        IDC_EDIT_COMMAND,32,125,286,15,ES_AUTOHSCROLL
    CONTROL         "",IDC_TAB_FILES,"SysTabControl32",WS_CLIPSIBLINGS | WS_TABSTOP,7,30,318,115,WS_EX_TRANSPARENT
END


