html,body {
    font-family: arial;
    margin: 0px;
    padding: 0px;
}
textarea {
    resize: none;
}
#io-container {
    margin: 12px;
    height: calc(100vh - 2*12px);
    display: grid;
    grid-gap: 10px;
    grid-template-areas:'status progress' 'input error' 'output output';
    grid-template-rows: 50px auto auto;
}

#progress-container {
    grid-area: progress;
    align-self: center;
    text-align: center;
}
#status-container {
    grid-area: status;
    align-self: center;
    text-align: center;
}

#input {
    color: blue;
    grid-area: input;
}
#output {
    color: green;
    grid-area: output;
}
#error {
    color: red;
    grid-area: error;
}
