#include "winopt.h"
#include "afxres.h"
/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_CLASS               "VMB"
END

